@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root{
    --cyan: hsl(171, 66%, 44%);
    --lightblue: hsl(233, 100%, 69%);
    --dk-grey-blue: hsl(210, 10%, 33%);
    --grey-blue: hsl(201, 11%, 66%);
}

body{
    font-family:'Bai Jamjuree', sans-serif;
    margin:0;
    padding:0;
    background-color:#fff;
    font-size:15px;
}

.content{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
}

.section1{
    background-image:url("images/bg-header-desktop.png");
    background-size:cover;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    padding-top:100px;
    padding-bottom:50px;
}

.logo{
    position:relative;
    width:125px;
    height:125px;
    margin-bottom:20px;

}

.text-box{
    width:600px;
}

.section1 h1{
    color:var(--dk-grey-blue);
    margin-bottom:5px;
    font-size:2.5em;
}

.section1 p{
    margin-top:10px;
    color:var(--grey-blue);
    font-size:1.15em;
    line-height:1.5em;
}

.os-buttons{
    display:flex;
    flex-direction:row;
    column-gap:15px;
    padding-top:15px;
}

.button-ios{
    background-color:var(--cyan);
    color:white;
    border-radius:30px;
    border:none;
    width:175px;
    height:40px;
    font-size:1em;
    font-family:'Bai Jamjuree', sans-serif;
    cursor: pointer;
    box-shadow:0px 2px 0px hsl(171, 66%, 35%);
}

.button-ios:hover{
    box-shadow:0px 2px 5px hsl(171, 66%, 35%);
}

.button-mac{
    background-color:var(--lightblue);
    color:white;
    border-radius:30px;
    border:none;
    width:175px;
    height:40px;
    font-size:1em;
    font-family:'Bai Jamjuree', sans-serif;
    cursor: pointer;
    box-shadow:0px 2px 0px hsl(233, 45%, 43%);
}

.button-mac:hover{
    box-shadow:0px 2px 5px hsl(233, 45%, 43%);
}

.section2{
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    padding-top:50px;
}

.section2a{
    text-align:left;
    line-height:1.5em;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:30px;
    margin-right:350px;
}

.monitor{
    height:550px;
    margin-top:30px;
}

.explanation{
    margin-left:100px;
    margin-top:-30px;
    width:325px;
}

h2{
    color:var(--dk-grey-blue);
    font-size:2em;
}

.section2 h3{
    color:var(--dk-grey-blue);
    font-size:1.5em;
    padding-top:20px;
}

.section2 p{
    margin-top:10px;
    color:var(--grey-blue);
    font-size:1em;
    line-height:2em;
}

.section3{
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    margin-top:100px;
}

.section3 p{
    margin-top:0px;
    color:var(--grey-blue);
    font-size:1em;
    line-height:2em;
}

.tablet{
    margin-top:70px;
    width: 800px;
}

.section4{
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    margin-top:50px;
}

.subtitle{
    margin-top:-10px;
    color:var(--grey-blue);
    font-size:1em;
    line-height:2em;
}

.features{
    padding:0;
	margin:0;
    display:flex;
    align-items:flex-start;
    margin-top:30px;
    justify-content:center;
}

.features h3{
    color:var(--dk-grey-blue);
    font-size:1.5em;
    padding-top:20px;
}
.features li{
    list-style-type:none;
	width:330px;
    margin:0 15px;
    position:relative;
    display:flex;
    flex-wrap: wrap;
	align-items:center;
    flex-direction:column;
}

.blacklist{
    height:35px;
}

.eye{
    height:35px;
}

.text{
    height:35px;
}

.features p{
    line-height:2em;
    margin-top:0px;
    color:var(--grey-blue);
    font-size:1em;
}

.companies{
    flex-wrap: wrap;
    justify-content: center;
    padding:0;
	margin:0;
    display:flex;
    margin-top:70px;
}

.companies li{
    list-style-type:none;
	width:130px;
	height:100px;
    margin:0 50px;
    position:relative;
	display:flex;
	align-items:center;
    justify-content:center;
}

.companies img{
    position:relative;
}

.section5{
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    flex-wrap:wrap;
    margin-top:50px;
    margin-bottom:100px;
}

.section5 p{

    margin-top:0px;
    color:var(--grey-blue);
    font-size:1em;
    line-height:2em;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    flex-wrap:wrap;
}

.section5 div{
    margin-top:30px;
}

footer{
    margin-top:30px;
    background-color:hsl(195, 12%, 94%);
    box-sizing: border-box;
    height:100px;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;
    padding:10px;
}

footer .logo{
    transform:scale(.4);
    margin-left:100px;
    margin-top:30px;
}

.info{
    padding:0;
	margin:0;
    display:inline-grid;
    width:400px;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows:35px;
    margin-left:100px;
}

.info li{
    list-style-type:none;
    cursor: pointer;
    color:var(--dk-grey-blue);
}

.info li:hover{
    color:var(--cyan);
}

.social{
    display:inline-grid;
    width:120px;
    grid-template-columns: 30px 30px 30px;
    grid-gap:1em;
    grid-template-rows:35px;
    margin-left:100px;
}

.social li{
    list-style-type:none;
    cursor: pointer;
    font-size:1.5em;
    color:var(--dk-grey-blue);
}

.social li:hover{
    color:var(--cyan);
}

@media screen and (max-width: 780px) {

    body{
        padding:0;
    }
    .content{
        width:100vw;
    }

    .section1{
        background-image:url("images/bg-header-mobile.png");
        padding-top:100px;
        padding-bottom:50px;
    }

    .text-box{
        width:auto;
        margin:0;
    }
    
    .section1 h1{
        color:var(--dk-grey-blue);
        margin:0 30px;
        margin-bottom:5px;
        font-size:2em;
    }
    
    .section1 p{
        margin:10px 30px 30px 30px;
        font-size:1.05em;
    }

    .os-buttons{
        display:flex;
        flex-direction:column;
        row-gap:15px;
        padding-top:15px;
        margin-top:25px;
    }

    .button-ios{
        width:300px;
        height:50px;
    }
    .button-mac{
        width:300px;
        height:50px;
    }

    .section2a{
        text-align:center;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        margin-top:30px;
        margin-right:0;
    }
    
    .monitor{
        height:200px;
        margin-top:30px;
        
    }    
    .explanation{
        margin-left:0;
        margin-top:10px;
        margin-left:35px;
        margin-right:35px;
        width:auto;
    }

    .section3 p{
        margin:0 30px 0 30px;
    }
    .tablet{
        width:300px;
        margin-top:30px;
        
    } 
    
    .features{
        display:flex;
        flex-direction:column;
    }

    .features li{
        list-style-type:none;
        width:auto;
        margin:0 30px;
        display:flex;
        align-items:center;
        flex-direction:column;
    }

    .section5{
        margin:50px 30px 100px 30px;
    }
    .section5 h2{
    margin:0 30px;}

    .section5 p{
        margin:0 30px;
        font-size:1.1em;
    }

    
footer{
    height:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:10px;
}

footer .logo{
    margin-left:0;
}

.info{
    padding:0;
	margin:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    width:auto;
    margin-left:0;
}

.info li{
    margin-bottom:15px;
    font-size:1.25em;
}

.info li:hover{
    color:var(--cyan);
}

.social{
    display:flex;
    flex-direction:row;
    left:50%;
    transform:translateX(-50%);
}

.social li{
    margin-right:15px;
}

   
}